@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-image: url("/assets/images/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  width: 100%;
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
}

footer {
  width: 100%;
  height: 450px;
}

.input-component {
  border: 1px solid white;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background: transparent !important;
}

button {
  border: 1px solid white;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black;
  transition: all 250ms;
}

.box-notification {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.notification-success {
  background: #008000;
}

.notification-errors {
  background: #ff0000;
}

.custom-file-input {
  border: 1px solid white;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.custom-file-input:hover {
  background-color: white;
  color: black;
  transition: all 250ms;
}
.title-action {
  font-size: 24px;
  font-weight: bold;
}

.container-album {
  border-radius: 10px;
  background: #191919;
  box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
}

.sidebar-admin {
  margin: 80px 5px 0px 5px;
  border-radius: 10px;
  background: #191919;
  box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 24px -1px rgba(0, 0, 0, 0.75);
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.item-album {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  background: #6d6d6d;
  cursor: pointer;
}

.go-back {
  display: inline-block;
  background: #0e0e0e;
  padding: 10px;
  border-radius: 10px;
}

.song-items {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}

.song-items:hover {
  background: #0e0e0e;
}

@media (min-width: 1024px) {
  .sidebar-admin {
    margin: 80px 80px 0px 80px;
  }
}
